<a href="https://colab.research.google.com/github/kunalburgul/MLDS_Learning/blob/master/Sklearn/basic_intro_to_sklearn_workflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to the Scikit learn

## **Basic End to End Sklearn model Workflow**

**Steps**
1. Getting the data ready.
2. Choose the right estimator/algorithm for our problem
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating the model
5. Improve the model
6. Save and load the trained model
7. Putting it all together.

## **Simple Heart Disease Classifier**

In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

### **Getting the data Ready**

In [2]:
# Loading the data
heart_disease = pd.read_csv('https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Separating the input and the output data 
X = heart_disease.drop('target', axis=1) # Feature 
y = heart_disease.target # Labels

### **Chosing the right estimator algorithm**

In [4]:
# Choosing the right model paramteres
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier() # default n_estimators is 100 as mentioned below
clf.get_params() # look at the parmeters values

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
# Fit the model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### **Fitting the Model to classifier to make predictions**

In [6]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [7]:
# Making the prediction
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0])

### **Evaluating the Model**

In [8]:
# Evaluate the model
clf.score(X_train, y_train)

1.0

In [9]:
clf.score(X_test, y_test)

0.8688524590163934

In [10]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds, digits=4))

              precision    recall  f1-score   support

           0     0.8214    0.8846    0.8519        26
           1     0.9091    0.8571    0.8824        35

    accuracy                         0.8689        61
   macro avg     0.8653    0.8709    0.8671        61
weighted avg     0.8717    0.8689    0.8694        61

In [11]:
confusion_matrix(y_test, y_preds)

array([[23,  3],
       [ 5, 30]])

In [12]:
accuracy_score(y_test, y_preds) # Final accuracy score

0.8688524590163934

### **Trying to improve the model with diffrenet estimators values**

In [13]:
# Improving the model (by trying to change the estimators)
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i)
    clf.fit(X_train, y_train)
    print(f"Model accuracy on the test set:{clf.score(X_test, y_test) * 100:.2f}%")
    print("\n")

Trying model with 10 estimators...
Model accuracy on the test set:86.89%


Trying model with 20 estimators...
Model accuracy on the test set:88.52%


Trying model with 30 estimators...
Model accuracy on the test set:88.52%


Trying model with 40 estimators...
Model accuracy on the test set:88.52%


Trying model with 50 estimators...
Model accuracy on the test set:85.25%


Trying model with 60 estimators...
Model accuracy on the test set:86.89%


Trying model with 70 estimators...
Model accuracy on the test set:88.52%


Trying model with 80 estimators...
Model accuracy on the test set:86.89%


Trying model with 90 estimators...
Model accuracy on the test set:86.89%

### **Save and load the Model**

In [14]:
# Save the model and load it 
import pickle
pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [15]:
# load the saved model
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8688524590163934