<a href="https://colab.research.google.com/github/kunalburgul/Python_Coding/blob/master/Basics_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Baics Python Gothrough**

## **Basic**

### **Python Keywords**

- Keywords are the reserved words in python
- We can't use a keyword as variable name, function name or any other identifier
- Keywords are case sentive

In [1]:
import keyword
print(keyword.kwlist)
print("\nTotal number of keywords: ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of keywords:  33

### **Identifiers**

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).
2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.
3. Keywords cannot be used as identifiers.

In [2]:
abc_12 = 12
#12abc =12
global = 1

SyntaxError: ignored

We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [3]:
a@ = 10

SyntaxError: ignored


### **Python Comments**

Comments are lines that exist in computer programs that are ignored by compilers and interpreters. 

Including comments in programs makes code more readable for humans as it provides some information or explanation about what each part of a program is doing.

In general, it is a good idea to write comments while you are writing or updating a program as it is easy to forget your thought process later on, and comments written later may be less useful in the long term. 

In Python, we use the hash (#) symbol to start writing a comment.

In [4]:
#Print Hello, world to console
print("Hello, world")

Hello, world

### **Multi Line Comments**

If we have comments that extend multiple lines, one way of doing it is to use hash (#) in the beginning of each line.

In [5]:
#This is a long comment
#and it extends 
#Multiple lines

Another way of doing this is to use triple quotes, either ''' or """.

In [6]:
"""This is also a
perfect example of
multi-line comments"""

'This is also a\nperfect example of\nmulti-line comments'

### **DocString in python**

Docstring is short for documentation string.

It is a string that occurs as the first statement in a module, function, class, or method definition.

In [7]:
def double(num):
    """
    function to double the number
    """
    return 2 * num

print(double(10))

20

In [8]:
print(double.__doc__) #Docstring is available to us as the attribute __doc__ of the function

    function to double the number

### **Python Indentation**

1. Most of the programming languages like C, C++, Java use braces { } to define a block of code. Python uses indentation.

2. A code block (body of a function, loop etc.) starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

3. Generally four whitespaces are used for indentation and is preferred over tabs.

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Indentation can be ignored in line continuation. But it's a good idea to always indent. It makes the code more readable.

In [10]:
if True:
    print("Machine Learning")
    c = "AAIC"

Machine Learning

In [11]:
if True: print("Machine Learning"); c = "AAIC"

Machine Learning

### **Python Statement**

Instructions that a Python interpreter can execute are called statements.

In [12]:
 a = 1  #single statement

### **Multi-Line Statement**

In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the line continuation character ().

In [13]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

In [14]:
print(a)

36

In [15]:
#another way is
a = (1 + 2 + 3 +
    4 + 5 + 6 + 
    7 + 8)
print(a)

36

In [16]:
a = 10; b = 20; c = 30   #put multiple statements in a single line using ;

## **Variables**

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

### **Variable Assignments**

In [17]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "ML"

### **Multiple Assignments**

In [18]:
a, b, c = 10, 5.5, "ML"

In [19]:
a = b = c = "AI" #assign the same value to multiple variables at once

### **Storage Locations**

In [20]:
x = 3

print(id(x))               #print address of variable x

10914560

In [21]:
y = 3

print(id(y))               #print address of variable y

10914560

Observation:

x and y points to same memory location

In [22]:
y = 2
print(id(y))               #print address of variable y

10914528

## **Data Types**

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

### **Numbers**

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [23]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [24]:
a = 2.5                            #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [25]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))
print(type(a))

(1+2j)  is complex number?
True
<class 'complex'>

### **Boolean**

Boolean represents the truth values False and True

In [26]:
a = True                          #a is a boolean type
print(type(a))

<class 'bool'>

### **Python Strings**

String is sequence of Unicode characters.

We can use single quotes or double quotes to represent strings.

A string in Python consists of a series or sequence of characters - letters, numbers, and special characters.

Strings can be indexed - often synonymously called subscripted as well.

Similar to C, the first character of a string has the index 0.

In [27]:
s = "This is Online Colab Python Gothrough"
print(s)

This is Online Colab Python Gothrough

Multi-line strings can be denoted using triple quotes, ''' or """.

In [28]:
s = """This is Online 
        Colab Python Gothrough"""
print(s)

This is Online
        Colab Python Gothrough

In [29]:
print(s[0])
#last char s[len(s)-1] or s[-1]

T

In [30]:
#slicing
s[5:]

'is Online \n        Colab Python Gothrough'

#### **Strings**

A string is a sequence of characters.
 
Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.
 
This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.
 
In Python, string is a sequence of Unicode character.

For more details about unicode

https://docs.python.org/3.3/howto/unicode.html

#### **How to create a string?**

Strings can be created by enclosing characters inside a single quote or double quotes.

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

#### **How to access characters in a string?**

In [31]:
myString = 'Hello'

print(myString)


myString = "Hello"
print(myString)


myString = '''Hello'''
print(myString)

Hello
Hello
Hello

#### **How to change or delete a string ?**

We can access individual characters using indexing and a range of characters using slicing.

Index starts from 0.

Trying to access a character out of index range will raise an IndexError.

The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

In [32]:
myString = "Hello"

#print first Character
print(myString[0])

#print last character using negative indexing
print(myString[-1])

#slicing 2nd to 5th character
print(myString[2:5])

H
o
llo

In [33]:
print(myString[15])

IndexError: ignored

In [34]:
print(myString[1.5])

TypeError: ignored

#### **String Operations**

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned.

We can simply reassign different strings to the same name.

In [35]:
myString = "Hello"
myString[4] = 's' # strings are immutable

TypeError: ignored

In [36]:
del myString # delete complete string

In [37]:
print(myString)

NameError: ignored

##### **Concatenation**

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [38]:
s1 = "Hello "
s2 = "Krystal"

#concatenation of 2 strings
print(s1 + s2)

#repeat string n times
print(s1 * 3)

Hello Krystal
Hello Hello Hello

##### **Iterating Through String**

In [39]:
count = 0
for l in "Hello World":
    if l == 'o':
        count += 1
print(count, ' letters found')

2  letters found

##### **String Membership Test**

In [40]:
print('l' in 'Hello World') #in operator to test membership

True

In [41]:
print('or' in 'Hello World')

True

##### **String Methods**

Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace() etc

In [42]:
"Hello".lower()

'hello'

In [43]:
"Hello".upper()

'HELLO'

In [44]:
"This will split all words in a list".split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [45]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [46]:
"Good Morning".find("Mo")

5

In [47]:
s1 = "Bad morning"

s2 = s1.replace("Bad", "Good")

print(s1)
print(s2)

Bad morning
Good morning

#### **Python Program to Check where a String is Palindrome or not ?**

In [48]:
myStr = "Madam"

#convert entire string to either lower or upper
myStr = myStr.lower()

#reverse string
revStr = reversed(myStr)


#check if the string is equal to its reverse
if list(myStr) == list(revStr):
    print("Given String is palindrome")
else:
    print("Given String is not palindrome")

Given String is palindrome

#### **Python Program to Sort Words in Alphabetic Order?**

In [49]:
myStr = "python Program to Sort words in Alphabetic Order"

#breakdown the string into list of words
words = myStr.split()

#sort the list
words.sort()

#print Sorted words are
for word in words:
    print(word)

Alphabetic
Order
Program
Sort
in
python
to
words

## **Python Data Structure**

### **Python List**

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

In [50]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

In [51]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

#### **Lists**

Data Structure:

A data structure is a collection of data elements (such as numbers or charactersor even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

-> List is one of the Sequence Data structure

-> Lists are collection of items (Strings, integers or even other lists)

-> Lists are enclosed in [ ]

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.

#### **List Creation**

In [52]:
emptyList = []

lst = ['one', 'two', 'three', 'four'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists

lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

print(lst4)

[1, 'ramu', 24, 1.24]

#### **List Length**

In [53]:
lst = ['one', 'two', 'three', 'four']

#find length of a list
print(len(lst))

4

#### **List Append**

In [54]:
lst = ['one', 'two', 'three', 'four']

lst.append('five') # append will add the item at the end

print(lst)

['one', 'two', 'three', 'four', 'five']

#### **List Insert**

In [55]:
#syntax: lst.insert(x, y) 

lst = ['one', 'two', 'four']

lst.insert(2, "three") # will add element y at location x

print(lst)

['one', 'two', 'three', 'four']

#### **List Remove**

In [56]:
#syntax: lst.remove(x) 

lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two') #it will remove first occurence of 'two' in a given list

print(lst)

['one', 'three', 'four', 'two']

#### **List Append & Extend**

In [57]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#append 
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [58]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#extend will join the list with list1

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

#### **List Delete**

In [59]:
#del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

#or we can use pop() method
a = lst.pop(1)
print(a)

print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [60]:
lst = ['one', 'two', 'three', 'four']

#remove an item from list
lst.remove('three')

print(lst)

['one', 'two', 'four']

#### **List related keywords in Python**

In [61]:
#keyword 'in' is used to test if an item is in a list
lst = ['one', 'two', 'three', 'four']

if 'two' in lst:
    print('AI')

#keyword 'not' can combined with 'in'
if 'six' not in lst:
    print('ML')

AI
ML

#### **List Reverse**

In [62]:
#reverse is reverses the entire list

lst = ['one', 'two', 'three', 'four']

lst1 = lst[::-1]

lst.reverse()

print(lst)
print(lst1)

['four', 'three', 'two', 'one']
['four', 'three', 'two', 'one']

#### **List Sorting**

The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.

In [63]:
#create a list with numbers
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)


print("Sorted list :", sorted_lst)

#original list remain unchanged
print("Original list: ", numbers)

Sorted list : [1, 2, 3, 6, 8]
Original list:  [3, 1, 6, 2, 8]

In [64]:
#print a list in reverse sorted order
print("Reverse sorted list :", sorted(numbers, reverse=True))

#orginal list remain unchanged
print("Original list :",  numbers)

Reverse sorted list : [8, 6, 3, 2, 1]
Original list : [3, 1, 6, 2, 8]

In [65]:
lst = [1, 20, 5, 5, 4.2]

#sort the list and stored in itself
lst.sort()

# add element 'a' to the list to show an error

print("Sorted list: ", lst)

Sorted list:  [1, 4.2, 5, 5, 20]

In [66]:
lst = [1, 20, 'b', 5, 'a']
print(lst.sort()) # sort list with element of different datatypes.

TypeError: ignored

#### **List Having Multiple References**

In [67]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list
print("Original list: ", lst)

Original list:  [1, 2, 3, 4, 5, 6]

#### **String Split to create a list**

In [68]:
#let's take a string

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [69]:
s = "This is applied AI Course"
split_lst = s.split() # default split is white-character: space or tab
print(split_lst)

['This', 'is', 'applied', 'AI', 'Course']

#### **List Indexing**

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [70]:
lst = [1, 2, 3, 4]
print(lst[1]) #print second element

#print last element using negative index
print(lst[-2])

2
3

#### **List Slicing**

Accessing parts of segments is called slicing.

The key point to remember is that the :end value represents the first value that is not in the selected slice.

In [71]:
numbers = [10, 20, 30, 40, 50,60,70,80]

#print all numbers
print(numbers[:]) 

#print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

#### **List extend using "+"**

In [72]:
lst1 = [1, 2, 3, 4]
lst2 = ['varma', 'naveen', 'murali', 'brahma']
new_lst = lst1 + lst2

print(new_lst)

[1, 2, 3, 4, 'varma', 'naveen', 'murali', 'brahma']

#### **List Count**

In [73]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

2
2

#### **List Looping**

In [74]:
#loop through a list

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

#### **List Comprehensions**

List comprehensions provide a concise way to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [75]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)   #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [76]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

#### **Nested List Comprehensions**

In [78]:
# Python Transpose of matrix
#let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [79]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### **Python Tuple**

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [80]:
t = (1, 1.5, "ML")

In [81]:
print(t[1]) #extract particular element

1.5

In [82]:
t[1] = 1.25

TypeError: ignored

#### **Tuples**

-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

#### **Tuple creation**

In [83]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [84]:
#only parenthesis is not enough
t = ('krystal')
type(t)

str

In [85]:
#need a comma at the end
t = ('krystal',)
type(t)

tuple

In [86]:
#parenthesis is optional
t = "krystal", 
print(type(t))
print(t)

<class 'tuple'>
('krystal',)

#### **Accessing Elements in Tuple**

In [87]:
t = ('krystal', 'lucifer', 'Ultimatenoob', 'Hotdude', 'Warlock')

print(t[1])

lucifer

In [88]:
#negative index
print(t[-1]) #print last element in a tuple

Warlock

In [89]:
#nested tuple
t = ('ABC', ('krystal', 'Ultimatenoob', 'Warlock'))

print(t[1])

('krystal', 'Ultimatenoob', 'Warlock')

In [90]:
print(t[1][2])

Warlock

In [91]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

#### **Changing a Tuple**

-> unlike lists, tuples are immutable

-> This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [92]:
#creating tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x' #will get TypeError

TypeError: ignored

In [93]:
t[4][1] = 'krystal'
print(t)

(1, 2, 3, 4, [5, 'krystal', 7])

In [94]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [95]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('krystal', ) * 4)
print(t)

('krystal', 'krystal', 'krystal', 'krystal')

#### **Tuple Deletion**

In [96]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

#### **Tuple Count**

In [97]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

#### **Tuple Index**

In [98]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

#### **Tuple Memebership**

In [99]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [100]:
print(7 in t)

False

#### **Built in Functions**

##### **Tuple Length**

In [101]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

##### **Tuple Sort**

In [102]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [103]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [104]:
#get the smallest element in a tuple
print(min(t))

1

In [105]:
#get sum of elments in the tuple
print(sum(t))

23

### **Python Set**

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [106]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [107]:
print(type(a))

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values.

In [108]:
s = {10, 20, 20, 30, 30, 30}
print(s)

{10, 20, 30}

In [109]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: ignored

#### **Sets**

-> A set is an unordered collection of items. Every element is unique (no duplicates).

-> The set itself is mutable. We can add or remove items from it.

-> Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

#### **Set Creation**

In [110]:
#set of integers
s = {1, 2, 3}
print(s)

#print type of s 
print(type(s))

{1, 2, 3}
<class 'set'>

In [111]:
#set doesn't allow duplicates. They store only one instance.
s = {1, 2, 3, 1, 4}
print(s)

{1, 2, 3, 4}

In [112]:
#we can make set from a list
s = set([1, 2, 3, 1])
print(s)

{1, 2, 3}

In [113]:
#initialize a set  with set() method
s = set()

print(type(s))

<class 'set'>

#### **Add element to a Set**

In [114]:
#we can add single element using add() method and 
#add multiple elements using update() method
s = {1, 3}

#set object doesn't support indexing
print(s[1]) #will get TypeError

TypeError: ignored

In [115]:
#add element
s.add(2)
print(s)

{1, 2, 3}

In [116]:
#add multiple elements
s.update([5, 6, 1])
print(s)

{1, 2, 3, 5, 6}

In [117]:
#add list and set
s.update([8, 9], {10, 2, 3})
print(s)

{1, 2, 3, 5, 6, 8, 9, 10}

#### **Remove elements from a Set**

In [118]:
#A particular item can be removed from set using methods, 
#discard() and remove().

s = {1, 2, 3, 5, 4}
print(s)

s.discard(4)    #4 is removed from set s

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [119]:
#remove an element 
s.remove(2)

print(s)

{1, 3, 5}

In [120]:
#remove an element not present in a set s
s.remove(7) # will get KeyError

KeyError: ignored

In [121]:
#discard an element not present in a set s
s.discard(7)
print(s)

{1, 3, 5}

In [122]:
#we can remove item using pop() method

s = {1, 2, 3, 5, 4}

s.pop() #remove random element

print(s)

{2, 3, 4, 5}

In [123]:
s.pop() 
print(s)

{3, 4, 5}

In [124]:
s = {1, 5, 2, 3, 6}

s.clear()   #remove all items in set using clear() method

print(s)

set()

#### **Python Set Operations**

In [125]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#union of 2 sets using | operator

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [126]:
#another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [127]:
#intersection of 2 sets using & operator
print(set1 & set2)

{3, 4, 5}

In [128]:
#use intersection function 
print(set1.intersection(set2))

{3, 4, 5}

In [129]:
#set Difference: set of elements that are only in set1 but not in set2

print(set1 - set2)

{1, 2}

In [130]:
#use differnce function 
print(set1.difference(set2))

{1, 2}

In [131]:
"""symmetric difference: set of elements in both set1 and set2 
#except those that are common in both."""

#use ^ operator

print(set1^set2)

{1, 2, 6, 7}

In [132]:
#use symmetric_difference function
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [133]:
#find issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}

print("set 'x' is subset of 'y' ?", x.issubset(y)) #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?", y.issubset(x))

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ? True

#### **Frozen Sets**

Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets

Frozensets can be created using the function frozenset()

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [134]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])

#try to add element into set1 gives an error
set1.add(5)

AttributeError: ignored

In [135]:
print(set1[1]) # frozen set doesn't support indexing

TypeError: ignored

In [136]:
print(set1 | set2) #union of 2 sets

frozenset({1, 2, 3, 4, 5, 6})

In [137]:
#intersection of two sets
print(set1 & set2)

#or 
print(set1.intersection(set2))

frozenset({3, 4})
frozenset({3, 4})

In [138]:
#symmetric difference
print(set1 ^ set2)

#or
print(set1.symmetric_difference(set2))

frozenset({1, 2, 5, 6})
frozenset({1, 2, 5, 6})

### **Python Dictionary**

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [139]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

apple

#### **Dictionary**

Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

#### **Dict Creation**

In [140]:
#empty dictionary
my_dict = {}

#dictionary with integer keys
my_dict = {1: 'abc', 2: 'xyz'}
print(my_dict)

#dictionary with mixed keys
my_dict = {'name': 'krystal', 1: ['abc', 'xyz']}
print(my_dict)


#create empty dictionary using dict()
my_dict = dict()

my_dict = dict([(1, 'abc'), (2, 'xyz')])    #create a dict with list of tuples
print(my_dict)

{1: 'abc', 2: 'xyz'}
{'name': 'krystal', 1: ['abc', 'xyz']}
{1: 'abc', 2: 'xyz'}

#### **Dict Access**

In [141]:
my_dict = {'name': 'krystal', 'age': 24, 'address': 'hyderabad'}

#get name
print(my_dict['name'])

krystal

In [142]:
#if key is not present it gives KeyError
print(my_dict['degree'])

KeyError: ignored

In [143]:
#another way of accessing key
print(my_dict.get('address'))

hyderabad

In [144]:
#if key is not present it will give None using get method
print(my_dict.get('degree'))

None

#### **Dict Add or Modify Elements**

In [145]:
my_dict = {'name': 'krystal', 'age': 24, 'address': 'hyderabad'}

#update name 
my_dict['name'] = 'ria'

print(my_dict)

{'name': 'ria', 'age': 24, 'address': 'hyderabad'}

In [146]:
#add new key
my_dict['degree'] = 'B.Tech'

print(my_dict)

{'name': 'ria', 'age': 24, 'address': 'hyderabad', 'degree': 'B.Tech'}

#### **Dict Delete or Remove Element**

In [147]:
#create a dictionary
my_dict = {'name': 'krystal', 'age': 24, 'address': 'hyderabad'}

#remove a particular item
print(my_dict.pop('age'))

print(my_dict)

24
{'name': 'krystal', 'address': 'hyderabad'}

In [148]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#remove an arbitarty key
my_dict.popitem()

print(my_dict)

{'name': 'satish', 'age': 27}

In [149]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete particular key
del squares[2]

print(squares)

{3: 9, 4: 16, 5: 25}

In [150]:
#remove all items
squares.clear()

print(squares)

{}

In [151]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete dictionary itself
del squares

print(squares) #NameError because dict is deleted

NameError: ignored

#### **Dictionary Methods**

In [152]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [153]:
#fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
subjects = {}.fromkeys(['Math', 'English', 'Hindi'], 0)
print(subjects)

{'Math': 0, 'English': 0, 'Hindi': 0}

In [154]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.items()) #return a new view of the dictionary items (key, value)

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [155]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.keys()) #return a new view of the dictionary keys

dict_keys([2, 3, 4, 5])

In [156]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.values()) #return a new view of the dictionary values

dict_values([4, 9, 16, 25])

In [157]:
#get list of all available methods and attributes of dictionary
d = {}
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

#### **Dict Comprehension**

In [158]:
#Dict comprehensions are just like list comprehensions but for dictionaries

d = {'a': 1, 'b': 2, 'c': 3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [159]:
#Creating a new dictionary with only pairs where the value is larger than 2
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v > 2}
print(new_dict)

{'c': 3, 'd': 4}

In [160]:
#We can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
d = {k + 'c':v * 2 for k, v in d.items() if v > 2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

## **Conversion between Datatypes**

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [161]:
float(5)     #convert interger to float using float() method

5.0

In [162]:
int(100.5)   #convert float to integer using int() method

100

In [163]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [164]:
int('10p')

ValueError: ignored

In [ ]:
user = "abcd"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

We can convert one sequence to other

In [165]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [166]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']

### **Python Output**

We use the print() function to output data to the standard output device

In [167]:
print("Hello World")

Hello World

In [168]:
a = 10
print("The value of a is", a) #python 3
# print "The value of a is " + str(a) # python 2

The value of a is 10

### **Output Formatting**

In [169]:
a = 10; b = 20 #multiple statements in single line.

print("The value of a is {} and b is {}".format(a, b))    #default

The value of a is 10 and b is 20

In [170]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

The value of b is 20 and a is 10

In [171]:
#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="krystal", greeting="Good Morning"))

Hello krystal, Good Morning

In [172]:
#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Bill', 'Manfred',
                                                       other='Georg'))

The story of Bill, Manfred, and Georg

### **Python Input**

want to take the input from the user. In Python, we have the input() function to allow this.

In [173]:
num = input("Enter a number: ")
print(num)

Enter a number: 5
5

### **Operators**

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

#### **Operator Types**

1. Arithmetic operators
    
2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Bitwise operators

5. Assignment operators

6. Special operators

#### **Arithmetic Operators**

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [174]:
print('+ , -, *, /, %, //, **  are arithmetic operators')

+ , -, *, /, %, //, **  are arithmetic operators

In [175]:
x, y = 10, 20

print(x + y) #addition(+)

print(x - y) #subtraction(-)

print(x * y) #multiplication(*)

print(x / y) #division(/)

print(x % y) #modulo division (%)

print(x // y) #Floor Division (//)

print(x ** y) #Exponent (**)

30
-10
200
0.5
10
0
100000000000000000000

#### **Comparision Operators**

Comparison operators are used to compare values. It either returns True or False according to the condition.

In [176]:
print('>, <, ==, !=, >=, <= are comparision operators')

>, <, ==, !=, >=, <= are comparision operators

In [177]:
a, b = 10, 20         

print(a < b)  #check a is less than b

print(a > b) #check a is greater than b

print(a == b) #check a is equal to b

print(a != b) #check a is not equal to b (!=)

print(a >= b) #check a greater than or equal to b

print(a <= b) #check a less than or equal to b

True
False
False
True
False
True

#### **Logical Operators**

Logical operators are and, or, not operators.

In [178]:
a, b = True, False

print(a and b) #print a and b

print(a or b) #print a or b

print(not(a == b)) #print a not b

False
True
True

#### **Bitwise operators**

Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit

In [179]:
print('&,  |,  ~,  ^,  >>,  << are Bitwise operators')

&,  |,  ~,  ^,  >>,  << are Bitwise operators

In [180]:
a, b = 10, 4

print(a & b) #Bitwise AND

print(a | b) #Bitwise OR

print(~(a < b)) #Bitwise NOT

print(a ^ b) #Bitwise XOR

print(a >> b) #Bitwise rightshift

print(a << b) #Bitwise Leftshift

0
14
-1
14
0
160

#### **Assignment operators**

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

In [181]:
print('=,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators')

=,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators

In [182]:
a = 10

a += 10 #add AND
print(a)

a -= 10 #subtract AND (-=)
print(a)

a *= 10 #Multiply AND (*=)
print(a)

a /= 10 #Divide AND (/=)
print(a)

a %= 10 #Modulus AND (%=)
print(a)

a //= 10 #Floor Division (//=)
print(a)

a **= 10 #Exponent AND (**=)
print(a)

20
10
100
10.0
0.0
0.0
0.0

### **Special Operators**

#### **Identity Operators**

**is and is not** are the identity operators in Python.

They are used to check if two values (or variables) are located on the same part of the memory.

In [183]:
a = 5
b = 5
print(a is b)    #5 is object created once both a and b points to same object

print(a is not b) #check is not

True
False

In [184]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2)

False

In [185]:
s1 = "Satish"
s2 = "Satish"
print(s1 is not s2)

False

#### **MemberShip Operators**

**in and not in** are the membership operators in Python.

They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [186]:
lst = [1, 2, 3, 4]
print(1 in lst)       #check 1 is present in a given list or not

print(1 not in lst) #check 5 is present in a given list

True
False

In [187]:
d = {1: "a", 2: "b"}
print(1 in d)

True

## **Python Conditional Statements**

### **Python if ... else Statement**

The **ifelifelse** statement is used in Python for decision making.

#### **if statement syntax**

**Syntax:**<br><br>
**if expression:** <br/>
&emsp;**statement**<br/>
&emsp;**.**<br/>
&emsp;**.**

The program evaluates the test expression and will execute statement(s) only if the text expression is True.

If the text expression is False, the statement(s) is not executed.

Python interprets non-zero values as True. None and 0 are interpreted as False.

In [188]:
num = 10
if num > 0:
    print("Positive number")

Positive number

#### **if ... else Statement**

**Syntax:**<br><br>
**if test expression:**<br/>
&emsp;**statement**<br/>
**else:**<br/>
&emsp;**else statement**<br/>

In [189]:
num = 10
if num > 0:
    print("Positive number")
else:
    print("Negative Number")

Positive number

#### **if...elif...else Statement**

**Syntax:**<br><br>
**if expression:**<br/>
&emsp;**statement**<br/>
**elif expression:**<br/>
&emsp;**else if statement**<br/>
**else:**<br/>
&emsp;**else statement**<br/>

In [190]:
num = 0

if num > 0:
    print("Positive number")
elif num == 0:
    print("ZERO")
else:
    print("Negative Number")

ZERO

#### **Nested if Statements**

We can have a if...elif...else statement inside another if...elif...else statement. This is called nesting in computer programming.

**Syntax:**<br><br>
**if test expression:**<br>
&emsp;**if test expression:**<br>
&emsp;&emsp;**Body of if**<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&emsp;**else:**<br>
&emsp;&emsp;**Body of if**<br>
**else:** <br>
&emsp;**Body of if**

In [191]:
num = 10.5

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative Number")

Positive number

#### **Python program to find the largest element among three Numbers**

In [192]:
num1 = 10
num2 = 50
num3 = 15

if (num1 >= num2) and (num1 >= num3):           #logical operator   and
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3
print("Largest element among three numbers is: {}".format(largest))

Largest element among three numbers is: 50

### **Python while Loop**

The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

**Syntax:**<br><br>
**while expression:**<br>
&emsp;**Body of while**

The body of the loop is entered only if the test_expression evaluates to True.

After one iteration, the test expression is checked again.

This process continues until the test_expression evaluates to False.

In [193]:
#Find product of all numbers present in a list

lst = [10, 20, 30, 40, 60]

product = 1
index = 0

while index < len(lst):
    product *= lst[index]
    index += 1

print("Product is: {}".format(product))

Product is: 14400000

#### **while Loop with else**

Same as that of for loop, we can have an optional else block with while loop as well.



The else part is executed if the condition in the while loop evaluates to False. The while loop can be terminated with a break statement.

In such case, the else part is ignored. Hence, a while loop's else part runs if no break occurs and the condition is false.

**Syntax:**<br><br>
**while expression:**<br>
&emsp;**Body of while**<br>
**else:**<br>
&emsp;**Body of else**

In [194]:
numbers = [1, 2, 3,4,5]

#iterating over the list
index = 0
while index < len(numbers):
    print(numbers[index])
    index += 1
    
else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

#### **Python Program to check given number is Prime number or not**

In [195]:
num = int(input("Enter a number: "))        #convert string to int


isDivisible = False;

i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print ("{} is divisible by {}".format(num,i) )
    i += 1;
    
if isDivisible:
    print("{} is NOT a Prime number".format(num))
else:
    print("{} is a Prime number".format(num))

Enter a number: 5
5 is a Prime number

#### **Python for Loop**

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.

Iterating over a sequence is called traversal.

**Syntax:**<br><br>

**for element in sequence :**<br>
&emsp;**Body of for**

Here, element is the variable that takes the value of the item inside the sequence on each iteration.

Loop continues until we reach the last item in the sequence.

In [196]:
#Find product of all numbers present in a list

lst = [10, 20, 30, 40, 50]

product = 1
#iterating over the list
for ele in lst:
    product *= ele

print("Product is: {}".format(product))

Product is: 12000000

#### **range() function**

We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).

We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided.

This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

**Syntax:**<br><br>
**for element in range()**<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
**Body of for**

In [197]:
#print range of 10
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [198]:
#print range of numbers from 1 to 20 with step size of 2
for i in range(0, 20, 5):
    print(i)

0
5
10
15

In [199]:
lst = ["krystal", "Lucifer", "Ultimatenoob", "Hotdude", "Warlock"]

#iterate over the list using index
#for index in range(len(lst)):
#    print(lst[index])
for ele in lst:
    print(ele)

krystal
Lucifer
Ultimatenoob
Hotdude
Warlock

#### **for loop with else**

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

break statement can be used to stop a for loop. In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

**Syntax:**<br><br>
**for expression:**<br>
&emsp;**Body of for**<br>
**else**<br>
&emsp;**Body of else**

In [200]:
numbers = [1, 2, 3]

#iterating over the list
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
no item left in the list

In [201]:
for item in numbers:
    print(item)
    if item % 2 == 0:
        break
else:
    print("no item left in the list")

1
2

#### **Python Program to display all prime numbers within an interval**

In [202]:
index1 = 20
index2 = 50

print("Prime numbers between {0} and {1} are :".format(index1, index2))

for num in range(index1, index2+1):      #default step size is 1
    if num > 1:
        isDivisible = False;
        for index in range(2, num):
            if num % index == 0:
                isDivisible = True;
        if not isDivisible:        
            print(num);

Prime numbers between 20 and 50 are :
23
29
31
37
41
43
47

### **Python break and continue Statements**

In Python, break and continue statements can alter the flow of a normal loop.

Loops iterate over a block of code until test expression is false, but sometimes we wish to terminate the current iteration or even the whole loop without cheking test expression.

The break and continue statements are used in these cases.

#### **Python break Statement**

**Syntax:**<br><br>
**for expression:**<br>
&emsp;**if expression:**<br>
&emsp;&emsp;**break**<br>
**else**<br>
&emsp;**Body of else**

In [203]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:          #iterating over list
    if num == 4:
        break
    print(num)
else:
    print("in the else-block")
print("Outside of for loop")

1
2
3
Outside of for loop

#### **Python Program to check given number is Prime number or not (using break)**

In [205]:
num = int(input("Enter a number: "))        #convert string to int


isDivisible = False;

i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print ("{} is divisible by {}".format(num,i) )
        break; # this line is the only addition.
    i += 1;
    
if isDivisible:
    print("{} is NOT a Prime number".format(num))
else:
    print("{} is a Prime number".format(num))

Enter a number: 5
5 is a Prime number

#### **Python Continue Statement**

**Syntax:**<br><br>
**for expression:**<br>
&emsp;**if expression:**<br>
&emsp;&emsp;**continue**<br>
**else**<br>
&emsp;**Body of else**

In [206]:
#print odd numbers present in a list
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("else-block")

1
3
5
else-block

## **Python Functions**

Function is a group of related statements that perform a specific task.

Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and managable.

It avoids repetition and makes code reusable

**Syntax:**<br><br>
**def function_name(parameters):**<br/>
&emsp;"&nbsp;"&nbsp;"<br/>
&emsp;**Doc String**<br/>
&emsp;"&nbsp;"&nbsp;"<br/>
&emsp;**statemente(s)**<br/>
&emsp;.<br/>
&emsp;.<br/>
&emsp;**return (parameter/None)**

1. keyword "def" marks the start of the function header
2. Parameters (arguments) through which we pass values to a function. These are optional
3. A colon(:) to mark the end of the function header
4. Doc string describes what the function does. This is optional
5. "return" statement to return a value form a function.This is optional

In [207]:
def print_name(name):
    """
    This function prints the name
    """
    print("Hello " + str(name))

**Function Call**

Once we define a function we can call it from anywhere

In [208]:
print_name('Krystal')

Hello Krystal

**Doc String**

- The first string after the function header is called the docstring and is short for documentation string.
- Although optional, documentation is a good programming practice, always document your code
- Doc string will be written in triple quotes so that docstring can extend up to multiple lines

In [209]:
print(print_name.__doc__)

    This function prints the name

**return statement**

The return statement is used to exit the function and go back to the place from where it was called.

- return statement can conatain an expression which get evaluated and the value is returned.
- if there is no expression in the statement or the return statement iteself is not present inside a function, then the function will return None Object

In [210]:
def get_sum(lst):
    """
    This function returns the sum of all the elements in the list
    """
    #initialize sum
    _sum = 0

    #iterating over the list
    for num in lst:
        _sum += num
    return _sum

In [211]:
s = get_sum([1,2,3,4])
print(s)

10

#### **Scope and life time of a Variable**

- Scope of a variable is the portion of a program where the variable is recognized
- Variables defined inside a function is not visible from outside. Hence, thet have a local scope.
- Lifetime of a variable is the period throughout which the variable exits in the memory.
- The lifetime of a variable inside a function is as long as the function executes.
- Variables are destroyed once we return from the function

In [212]:
global_var = "This is the global variable"
def test_life_time():
    """
    This function test the lifetime of the variables
    """
    local_var = "This is the local variable"
    print(local_var)    # Prints the local variable local_var
    print(global_var)   # Prints the local variable global_var

#Calling function
test_life_time()

#Print global variable global_var
print(global_var)

# Prints the local variable local_var
print(local_var)

This is the local variable
This is the global variable
This is the global variable

NameError: ignored

#### **Python program to print Highest Common Factor (HCF) of two numbers**

In [213]:
def computeHCF(a, b):
    """
    Computing the HCF of two numbers
    """
    smaller = b if a > b else a 

    hcf = 1
    for i in range(1,smaller+1):
        if (a % i == 0) and (b % i == 0):
            hcf = i
    return hcf 

num1 = 20
num2 = 16

print("H.C.F of {0} and {1} is : {2}".format(num1, num2, computeHCF(num1, num2)))

H.C.F of 20 and 16 is : 4

### **Types of Functions**

There are two broad types of functions 

1. Bulit-in Functions 
2. User-defined Functions

#### **Built-in Functions**

##### **Absolute Value**

Here the absolute value converts all the -ve numbers to the +ve numbers and if we supply the +ve number to the function it remains the same.

In [214]:
# Find the absolute value

num = -50
print(abs(num))

50

##### **All**

 Here this all function return two values

 True : if all elements in an iteranble are true.<br>
 False : if any element in an iterable is false.

In [215]:
lst = [1,2,3,4] # as there are no non zero elements
print(all(lst))

True

In [216]:
lst = (0,2,3,4) # 0 is present in the tuple
print(all(lst))

False

In [217]:
lst = [] # empty list is alwasys true
print(all(lst))

True

In [218]:
lst = [False, 1, 2] # False present in a list so all(lst) is False
print(all(lst))

False

##### **dir()**

- The **dir()** tries to return a list of valid attributes of the objects.
- If the object has **dir()** method, the method will be called and must return the list of attributes.
- If the object dosen't have **dir()** method, this metho tries to find information from the dict attirbute (if defined), and from type object.In this case, the list returned from dir() may not be completed.

In [219]:
numbers = [1, 2, 3]
print(dir(numbers))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

##### **divmod()**

The **divmod()** method takes two numbers and returns a pair of numbers (a tuple) consisting of their quotient and remainder

In [220]:
print(divmod(9, 2)) # Here it prints the quotient and remainder as a tuple

(4, 1)

##### **enumerate()**

The **enumnerate()** method adds counter to an iterable and returns it 

**Syntax:**
<br>
**enumerate(iterable, start=0)**

In [221]:
numbers = [10, 20, 30, 40]
for index, num in enumerate(numbers):
    print("Index {} has value {}".format(index, num))

Index 0 has value 10
Index 1 has value 20
Index 2 has value 30
Index 3 has value 40

##### **filter()**

The **filter** method constructs an iterator from elements of an iterable for which a function returns true.

**Syntax:**
<br>
**filter(function, iterable)**

In [222]:
def find_positive_number(num):
    """
    This function returns the positive number if num is positive
    """
    if num>0:
        return num

number_list = range(-10, 10)  # Creating a list with number from -10 to 10
print(list(number_list))
positive_num_list = list(filter(find_positive_number, number_list))
print(positive_num_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

##### **isinstance()**

The **isinstance()** function checks if the object (first argument) is an instance or subclass of classinfo class (second argument).

**Syntax:**
<br>
**isinstance(object, classinfo)**

In [223]:
lst = [1, 2, 3, 4]
print(isinstance(lst, list))

#try with other datatypes tuple, set
t = (1,2,3,4)
print(isinstance(t, list))

True
False

##### **map()**

Map applies a function to all the items in an input_list.

**Syntax:** 
<br>
**map(function_to_apply, list_of_inputs)**

In [224]:
numbers = [1, 2, 3, 4]

# Normal method of computing num^2 for each element in the list.
squared = []
for num in numbers:
    squared.append(num ** 2)

print(squared)

[1, 4, 9, 16]

In [225]:
numbers = [1, 2, 3, 4]

def powerOfTwo(num):
    return num ** 2

# Using map() function
squared = list(map(powerOfTwo, numbers))
print(squared)

[1, 4, 9, 16]

##### **reduce()**

**reduce()** function is for performing some computation on a list and returning the result.

It applies a rolling computation to sequential pairs of values in a list.

It is useful when you want to find out the sum of numbers in the array or product of numbers in the array

In [226]:
%time
#product of elemnts in a list
product = 1
lst = [1, 2, 3, 4]

# traditional program without reduce()
for num in lst:
    product *= num
print(product)

CPU times: user 2 s, sys: 0 ns, total: 2 s
Wall time: 5.48 s
24

In [227]:
%time
#with reduce()
from functools import reduce # in Python 3.

def multiply(x,y):
    return x*y;

product = reduce(multiply, lst)
print(product)

CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 4.53 s
24

Here (filter, map, reduce) are most benefical function often helpful in data science

#### **User-defined Functions**

Functions that we define ourselves to do certain specific task are referred as user-defined functions

If we use functions written by others in the form of library, it can be termed as library functions.

**Advantages**

- User-defined functions help to decompose a large program into small segments which makes program easy to understand, maintain and debug.

- If repeated code occurs in a program. Function can be used to include those codes and execute when needed by calling that function.

- Programmars working on large project can divide the workload by making different functions.

In [228]:
def product_numbers(a, b):
    """
    this function returns the product of two numbers
    """
    product = a * b
    return product

num1 = 10
num2 = 20
print("product of {0} and {1} is {2} ".format(num1, num2, product_numbers(num1, num2)))

product of 10 and 20 is 200

##### **Python program to make a simple calculator that can add, subtract, multiply and division**

In [229]:
def add(a, b):
    """
    This function adds two numbers
    """
    return a + b

def multiply(a, b):
    """
    This function multiply two numbers
    """
    return a * b

def subtract(a, b):
    """
    This function subtract two numbers
    """
    return a - b

def division(a, b):
    """
    This function divides two numbers
    """
    return a / b

print("Select Option")
print("1. Addition")
print ("2. Subtraction")
print ("3. Multiplication")
print ("4. Division")

#take input from user
choice = int(input("Enter choice 1/2/3/4"))

num1 = float(input("Enter first number:"))
num2 = float(input("Enter second number:"))
if choice == 1:
    print("Addition of {0} and {1} is {2}".format(num1, num2, add(num1, num2)))
elif choice == 2:
    print("Subtraction of {0} and {1} is {2}".format(num1, num2, subtract(num1, num2)))
elif choice == 3:
    print("Multiplication of {0} and {1} is {2}".format(num1, num2, multiply(num1, num2)))
elif choice == 4:
    print("Division of {0} and {1} is {2}".format(num1, num2, division(num1, num2)))
else:
    print("Invalid Choice")

Select Option
1. Addition
2. Subtraction
3. Multiplication
4. Division
Enter choice 1/2/3/41
Enter first number:2
Enter second number:3
Addition of 2.0 and 3.0 is 5.0

### **Function Arguments**

In [230]:
def greet(name, msg):
    """
    This function greets to person with the provided message
    """
    print("Hello {0} , {1}".format(name, msg))

#call the function with arguments
greet("Krystal", "Good Morning")

Hello Krystal , Good Morning

In [231]:
#suppose if we pass one argument

greet("Krystal") #will get an error

TypeError: ignored

**Different Forms of Arguments**

#### **Default Arguments**

We can provide a default value to an argument by using the assignment operator (=).

In [232]:
def greet(name, msg="Good Morning"):
    """
    This function greets to person with the provided message
    if message is not provided, it defaults to "Good Morning"
    """
    print("Hello {0} , {1}".format(name, msg))

greet("Krystal", "Good Night")

Hello Krystal , Good Night

In [233]:
#with out msg argument
greet("Krystal")

Hello Krystal , Good Morning

Once we have a default argument, all the arguments to its right must also have default values

def greet(msg="Good Morning", name)

will get a SyntaxError : non-default argument follows default argument

#### **Keyword Arguments**

**kwargs** allows you to pass keyworded variable length of arguments to a function. You should use **kwargs if you want to handle named arguments in a function

In [234]:
def greet(**kwargs):
    """
    This function greets to person with the provided message
    """
    if kwargs:
        print("Hello {0} , {1}".format(kwargs['name'], kwargs['msg']))
greet(name="Krystal", msg="Good Morning")

Hello Krystal , Good Morning

#### **Arbitary Arguments**

Sometimes, we do not know in advance the number of arguments that will be passed into a function.Python allows us to handle this kind of situation through function calls with arbitrary number of arguments.

In [235]:
def greet(*names):
    """
    This function greets all persons in the names tuple 
    """
    print(names)
    
    for name in names:
        print("Hello,  {0} ".format(name))

greet("Krystal", "Warlock", "Ultimatenoob", "Lucifer")

('Krystal', 'Warlock', 'Ultimatenoob', 'Lucifer')
Hello,  Krystal
Hello,  Warlock
Hello,  Ultimatenoob
Hello,  Lucifer

### **Recursion**

We know that in Python, a function can call other functions. It is even possible for the function to call itself. These type of construct are termed as recursive functions.

#### **Python program to print factorial of a number using recurion**

In [236]:
def factorial(num):
    """
    This is a recursive function to find the factorial of a given number
    """
    return 1 if num == 1 else (num * factorial(num-1))

num = 5
print("Factorial of {} is {}".format(num, factorial(num)))

Factorial of 5 is 120

**Advantage**

- Recursive functions make the code look clean and elegant.

- A complex task can be broken down into simpler sub-problems using recursion.

- Sequence generation is easier with recursion than using some nested iteration.

<br>

**Disadvantages**

- Sometimes the logic behind recursion is hard to follow through.

- Recursive calls are expensive (inefficient) as they take up a lot of memory and time.

- Recursive functions are hard to debug.

#### **Python program to display the fibonacci sequence up to n-th term using recursive function**

In [237]:
def fibonacci(num):
    """
    Recursive function to print fibonacci sequence
    """
    return num if num <= 1 else fibonacci(num-1) + fibonacci(num-2)

nterms = 10
print("Fibonacci sequence")
for num in range(nterms):
    print(fibonacci(num))

Fibonacci sequence
0
1
1
2
3
5
8
13
21
34

### **Anonymous / Lambda Function**

In Python, anonymous function is a function that is defined without a name.

While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword.

Lambda functions are used extensively along with built-in functions like filter(), map(), reduce()

**Syntax:**
<br>
**lambda arguments: expression**

In [238]:
def double(x):
    return x * 2

print(double(5))

10

In [239]:
double = lambda x: x*2
print(double(6))

12

In [240]:
# Example use with filter()
lst = [1, 2, 3, 4, 5]
even_lst = list(filter(lambda x: (x%2 == 0), lst))
print(even_lst)

[2, 4]

In [241]:
# Example use with map()
lst = [1, 2, 3, 4, 5]
new_lst = list(map(lambda x: x ** 2, lst))
print(new_lst)

[1, 4, 9, 16, 25]

In [242]:
# Example use with reduce()
from functools import reduce

lst = [1, 2, 3, 4, 5]
product_lst = reduce(lambda x, y: x*y, lst)
print(product_lst)

120

## **Python Modules and Packages**

### **Python Modules**

Modules refer to a file containing Python statements and definitions.

A file containing Python code, for e.g.: abc.py, is called a module and its module name would be "abc".

We use modules to break down large programs into small manageable and organized files. Furthermore, modules provide reusability of code.

We can define our most used functions in a module and import it, instead of copying their definitions into different programs.

#### **How to import a module?**

We use the import keyword to do this.

In [243]:
import example #imported example module

ModuleNotFoundError: ignored

Using the module name we can access the function using dot (.) operation.

In [244]:
example.add(10, 20)

NameError: ignored

**Examples:**

In [245]:
 import math
 print(math.pi)

3.141592653589793

In [246]:
import datetime
datetime.datetime.now()

datetime.datetime(2020, 9, 27, 15, 21, 30, 757840)

**import with renaming**

In [247]:
import math as m
print(m.pi)

3.141592653589793

**from...  import statement**

We can import specific names form a module without importing the module as a whole.

In [248]:
from datetime import datetime
datetime.now()

datetime.datetime(2020, 9, 27, 15, 21, 33, 478137)

**import all names**

In [249]:
from math import * # import math
print("Value of Pi is " + str(pi))

Value of Pi is 3.141592653589793

**dir() built in function**

We can use the dir() function to find out names that are defined inside a module.

In [250]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [251]:
print(math.pi.__doc__) # gives the information written the doc string

float(x) -> floating point number

Convert a string or number to a floating point number, if possible.

### **Python Packages**

Packages are a way of structuring Pythons module namespace by using dotted module names.

A directory must contain a file named init.py in order for Python to consider it as a package. This file can be left empty but we generally place the initialization code for that package in this file.

![Package Module Structure](http://cdn.programiz.com/sites/tutorial2program/files/PackageModuleStructure.jpg)

#### **How to import a module from a package**

We can import modules form packages using the dot (.) operator

In [252]:
# import Game.Image.open

## **Files (Input/Output)**

File is a named location on disk to store related information. It is used to permanently store data in a non-volatile memory (e.g. hard disk).

Since, random access memory (RAM) is volatile which loses its data when computer is turned off, we use files for future use of the data.

When we want to read from or write to a file we need to open it first. When we are done, it needs to be closed, so that resources that are tied with the file are freed.

File operation:

- Open a file
- Read or write (perform operation)
- Close the file

### **Opening a File**

Python has a built-in function open() to open a file. This function returns a file object, also called a handle, as it is used to read or modify the file accordingly.

In [256]:

# open file from the any provided link
import urllib # from urllib.request import urlopen
from urllib.request import urlopen
url = "https://raw.githubusercontent.com/kunalburgul/Python_Coding/master/Data/Data%20Science%20Interview.txt"
file = urllib.request.urlopen(url)

# open file in provided direcotry
#f = open('Data/Data_Science_Interview.txt')

We can specify the mode while opening a file. In mode, we specify whether we want to read 'r', write 'w' or append 'a' to the file. We also specify if we want to open the file in text mode or binary mode.

### **Python File Modes**

- **Read mode** - 'r' Open a file for reading. (default)

- **Write mode** - 'w' Open a file for writing. Creates a new file if it does not exist or truncates the file if it exists.

- **Exclusive mode** - 'x' Open a file for exclusive creation. If the file already exists, the operation fails.

- **Append mode** - 'a' Open for appending at the end of the file without truncating it. Creates a new file if it does not exist.

- **Text mode** -'t' Open in text mode. (default)

- **Binary mode** - 'b' Open in binary mode.

- **Update mode** - '+' Open a file for updating (reading and writing)

In [258]:
f = open('Data/Data_Science_Interview.txt') #equivalent to 'r' 
f = open('Data/Data_Science_Interview.txt', 'r')

f = open('Data/Data_Science_Interview.txt', 'w')

The default encoding is platform dependent. In windows, it is 'cp1252' but 'utf-8' in Linux.

So, we must not also rely on the default encoding or else our code will behave differently in different platforms.

Hence, when working with files in text mode, it is highly recommended to specify the encoding type.

### **Closing a File**

Closing a file will free up the resources that were tied with the file and is done using the close() method.

Python has a garbage collector to clean up unreferenced objects but, we must not rely on it to close the file.

In [259]:
f = open('Data/Data_Science_Interview.txt')
f.close()

This method is not entirely safe. If an exception occurs when we are performing some operation with the file, the code exits without closing the file.

A safer way is to use a try...finally block.

In [261]:
try:
   f = open('Data/Data_Science_Interview.txt')
   # perform file operations
    
finally:
   f.close()

This way, we are guaranteed that the file is properly closed even if an exception is raised, causing program flow to stop.

The best way to do this is using the with statement. This ensures that the file is closed when the block inside with is exited.

We don't need to explicitly call the close() method. It is done internally.

with open("example.txt",encoding = 'utf-8') as f:

### **Reading From a File**

There are various methods available for this purpose. We can use the read(size) method to read in size number of data. If size parameter is not specified, it reads and returns up to the end of the file.

In [262]:
f = open('Data/Data_Science_Interview.txt', 'r')
f.read()

''

In [263]:
f = open('Data/Data_Science_Interview.txt', 'r')
f.read(20)

''

In [264]:
#f = open('Data/Data_Science_Interview.txt', 'r')
f.read(10)

''

We can change our current file cursor (position) using the **seek()** method.

Similarly, the **tell()** method returns our current position (in number of bytes).

In [265]:
f.tell() # tells the current position of the pointer in the file

0

In [266]:
f.seek(0) # bring the file cursor to initial position

0

In [267]:
print(f.read()) #read the entire file

We can read a file line-by-line using a for loop. This is both efficient and fast.

In [268]:
f.seek(0)
for line in f:
    print(line)

Alternately, we can use **readline()** method to read individual lines of a file. This method reads a file till the newline, including the newline character.

In [269]:
f = open('Data/Data_Science_Interview.txt', 'r')
f.readline()

''

In [270]:
f.readline()

''

In [271]:
f.readline()

''

The **readlines()** method returns a list of remaining lines of the entire file. All these reading method return empty values when end of file (EOF) is reached.

In [272]:
f.seek(0)
f.readlines()

[]

### **Writing to a File**

In order to write into a file we need to open it in write 'w', append 'a' or exclusive creation 'x' mode.

We need to be careful with the 'w' mode as it will overwrite into the file if it already exists. All previous data are erased.

Writing a string or sequence of bytes (for binary files) is done using write() method. This method returns the number of characters written to the file.

In [273]:
f = open('Data/Data_Science_Interview.txt','w')
f.write("This is a First File\n")
f.write("Contains two lines\n")
f.close()

This program will create a new file named 'test.txt' if it does not exist. If it does exist, it is overwritten.

### **Renaming And Deleting Files In Python.**

While you were using the read/write functions, you may also need to rename/delete a file in Python. So, there comes a os module in Python which brings the support of file rename/delete operations.

So, to continue, first of all, you should import the os module in your Python script.

In [274]:
import os

#Rename a file from test.txt to sample.txt
os.rename("Data/Data_Science_Interview.txt", "Data/DS_Interview_Prep.txt")

In [275]:
f = open("Data/DS_Interview_Prep.txt", "r")
f.readline()

'This is a First File\n'

In [ ]:
#Delete a file sample.txt
os.remove("Data/DS_Interview_Prep.txt")

In [276]:
f = open("Data/DS_Interview_Prep.txt", "r")
f.readline()

'This is a First File\n'

### **Python Directory and File Management**

If there are a large number of files to handle in your Python program, you can arrange your code within different directories to make things more manageable.

A directory or folder is a collection of files and sub directories. Python has the os module, which provides us with many useful methods to work with directories (and files as well).

**Get current Directory**

We can get the present working directory using the getcwd() method.

This method returns the current working directory in the form of a string.

In [277]:
import os
os.getcwd()

'/content'

**Changing Directory**

We can change the current working directory using the chdir() method.

The new path that we want to change to must be supplied as a string to this method. We can use both forward slash (/) or the backward slash () to separate path elements.

In [278]:
os.chdir("/content")

In [279]:
os.getcwd()

'/content'

**List Directories and Files**

All files and sub directories inside a directory can be known using the listdir() method.

In [280]:
os.listdir(os.getcwd())

['.config', 'Data', '.ipynb_checkpoints', 'sample_data']

**Making New Directory**

We can make a new directory using the mkdir() method.

This method takes in the path of the new directory. If the full path is not specified, the new directory is created in the current working directory.

In [281]:
os.mkdir('test')

However, note that rmdir() method can only remove empty directories.

In order to remove a non-empty directory we can use the rmtree() method inside the shutil module.

In [282]:
os.rmdir('test')

In [283]:
import shutil

os.mkdir('test')
os.chdir('./test')
f = open("testfile.txt",'w')
f.write("Hello World")
os.chdir("../")
os.rmdir('test')

OSError: ignored

In [284]:
# remove an non-empty directory
shutil.rmtree('test')

In [285]:
os.getcwd()

'/content'

## **Python Exception Handling**

### **Python Errors**

When writing a program, we, more often than not, will encounter errors.

Error caused by not following the proper structure (syntax) of the language is called syntax error or parsing error.

In [286]:
if a < 3

SyntaxError: ignored

Errors can also occur at runtime and these are called exceptions.

They occur, for example, when a file we try to open does not exist (FileNotFoundError), dividing a number by zero (ZeroDivisionError), module we try to import is not found (ImportError) etc.

Whenever these type of runtime error occur, Python creates an exception object. If not handled properly, it prints a traceback to that error along with some details about why that error occurred.

In [288]:
1 / 0

ZeroDivisionError: ignored

In [289]:
open('test.txt')

FileNotFoundError: ignored

### **Python Built-in Exceptions**

In [290]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'dreload',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

### **Python Exception Handling - Try, Except and Finally**


Python has many built-in exceptions which forces your program to output an error when something in it goes wrong.

When these exceptions occur, it causes the current process to stop and passes it to the calling process until it is handled. If not handled, our program will crash.

For example, if function A calls function B which in turn calls function C and an exception occurs in function C. If it is not handled in C, the exception passes to B and then to A.

If never handled, an error message is spit out and our program come to a sudden, unexpected halt.

### **Catching Exceptions in Python**

In Python, exceptions can be handled using a try statement.

A critical operation which can raise exception is placed inside the try clause and the code that handles exception is written in except clause.

In [291]:
# import module sys to get the type of exception
import sys

lst = ['b', 0, 2]

for entry in lst:
    try:
        print("The entry is", entry)
        r = 1 / int(entry)
    except:
        print("Oops!", sys.exc_info()[0],"occured.")
        print("Next entry.")
        print("***************************")
print("The reciprocal of", entry, "is", r)

The entry is b
Oops! <class 'ValueError'> occured.
Next entry.
***************************
The entry is 0
Oops! <class 'ZeroDivisionError'> occured.
Next entry.
***************************
The entry is 2
The reciprocal of 2 is 0.5

### **Catching Specific Exceptions in Python**

In the above example, we did not mention any exception in the except clause.

This is not a good programming practice as it will catch all exceptions and handle every case in the same way. We can specify which exceptions an except clause will catch.

A try clause can have any number of except clause to handle them differently but only one will be executed in case an exception occurs.

In [292]:
import sys

lst = ['b', 0, 2]

for entry in lst:
    try:
        print("****************************")
        print("The entry is", entry)
        r = 1 / int(entry)
    except(ValueError):
        print("This is a ValueError.")
    except(ZeroDivisionError):
        print("This is a ZeroError.")
    except:
        print("Some other error")
print("The reciprocal of", entry, "is", r)

****************************
The entry is b
This is a ValueError.
****************************
The entry is 0
This is a ZeroError.
****************************
The entry is 2
The reciprocal of 2 is 0.5

### **Raising Exceptions**

In Python programming, exceptions are raised when corresponding errors occur at run time, but we can forcefully raise it using the keyword raise.

We can also optionally pass in value to the exception to clarify why that exception was raised.

In [293]:
raise KeyboardInterrupt

KeyboardInterrupt: ignored

In [294]:
raise MemoryError("This is memory Error")

MemoryError: ignored

In [296]:
try:
    num = int(input("Enter a positive integer:"))
    if num <= 0:
        raise ValueError("Error:Entered negative number")
except ValueError as e:
    print(e)

Enter a positive integer:-1
Error:Entered negative number

### **try ... finally**

The try statement in Python can have an optional finally clause. This clause is executed no matter what, and is generally used to release external resources.

In [301]:
try:
    f = open('Data/DS_Interview_Perp.txt')
    #perform file operations
finally:
    f.close()

FileNotFoundError: ignored

## **Debugging**

**pdb** (python debugger) implements an interactive debugging environment for Python programs. It includes features to let you pause your program, look at the values of variables, and watch program execution step-by-step, so you can understand what your program actually does and find bugs in the logic.

### **Starting the Debugger**

**From the Command Line**

In [302]:
def seq(n):
    for i in range(n):
        print(i)
    return

seq(5)

0
1
2
3
4

**From Within Your Program**

In [303]:
import pdb

#interactive debugging
def seq(n):
    for i in range(n):
        pdb.set_trace() # breakpoint
        print(i)
    return

seq(5)

# ******* pdb commands ******* 
# c : continue
# q: quit
# h: help
# list
# p: print
# p locals()
# p globals()

> <ipython-input-303-dde522554ce6>(7)seq()
-> print(i)
(Pdb) list
  2
  3  	#interactive debugging
  4  	def seq(n):
  5  	    for i in range(n):
  6  	        pdb.set_trace() # breakpoint
  7  ->	        print(i)
  8  	    return
  9
 10  	seq(5)
 11
 12  	# ******* pdb commands *******
(Pdb) h

Documented commands (type help <topic>):
========================================
EOF    c          d        h         list      q        rv       undisplay
a      cl         debug    help      ll        quit     s        unt
alias  clear      disable  ignore    longlist  r        source   until
args   commands   display  interact  n         restart  step     up
b      condition  down     j         next      return   tbreak   w
break  cont       enable   jump      p         retval   u        whatis
bt     continue   exit     l         pp        run      unalias  where

Miscellaneous help topics:
==========================
exec  pdb

(Pdb) p i
0
(Pdb) p n
5
(Pdb) p locals()
{'i': 0, 'n': 5}
(Pdb) c
0
> <ipython-input-303-dde522554ce6>(6)seq()
-> pdb.set_trace() # breakpoint
(Pdb) list
  1  	import pdb
  2
  3  	#interactive debugging
  4  	def seq(n):
  5  	    for i in range(n):
  6  ->	        pdb.set_trace() # breakpoint
  7  	        print(i)
  8  	    return
  9
 10  	seq(5)
 11
(Pdb) p locals()
{'i': 1, 'n': 5}
(Pdb) c
1
> <ipython-input-303-dde522554ce6>(7)seq()
-> print(i)
(Pdb) p i
2
(Pdb) p locals()
{'i': 2, 'n': 5}
(Pdb) h

Documented commands (type help <topic>):
========================================
EOF    c          d        h         list      q        rv       undisplay
a      cl         debug    help      ll        quit     s        unt
alias  clear      disable  ignore    longlist  r        source   until
args   commands   display  interact  n         restart  step     up
b      condition  down     j         next      return   tbreak   w
break  cont       enable   jump      p         retval   u        whatis
bt     continue   exit     l         pp        run      unalias  where

Miscellaneous help topics:
==========================
exec  pdb

(Pdb) c
2
> <ipython-input-303-dde522554ce6>(6)seq()
-> pdb.set_trace() # breakpoint
(Pdb) p locals()
{'i': 3, 'n': 5}
(Pdb) q

BdbQuit: ignored

### **Debugger Commands**

- **h(elp) [command]**


Without argument, print the list of available commands. With a command as argument, print help about that command. help pdb displays the full documentation (the docstring of the pdb module). Since the command argument must be an identifier, help exec must be entered to get help on the ! command.

- **w(here)**

Print a stack trace, with the most recent frame at the bottom. An arrow indicates the current frame, which determines the context of most commands.

- **d(own) [count]**

Move the current frame count (default one) levels down in the stack trace (to a newer frame).

- **c(ont(inue))**

Continue execution, only stop when a breakpoint is encountered.
- **q(uit)**

Quit from the debugger. The program being executed is aborted.

**Termial/Command prompt based debugging**